
/* #breadcrumb {
    color: #472183;
} */

.breadcrumb {
    background-color: unset;
}

#SignUpBody{
    border: solid black 1px; 
    width: 35%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    padding-top: 0.5em ;
    padding-bottom: 3em;
    background-color: #F1F6F5;
    border-radius: 1.5em;
}

#SignUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;

}

.btn-primary{
    background-color: #472183 !important;
    border-color: #472183;
    width: 11em;
}

.inputtext{
    margin-top: 0;
    margin-bottom: 1em;
}
.labelText{
    margin-bottom: 0;
}

#Title{
    font-size: 60px;
    display: flex;
    margin: 1em 0 0 1em;
}


#login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

body{
    background-color: #82C3EC;
}

input[type=file] {
    width: 13em;
}

#profile-picture-container {
    display: block;
    position: relative;
    background-color: #82C3EC;
    margin: 0.5em auto 1em auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 2px solid #472183;
}

#profile-picture {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.highlight{
    color: red !important;
}
